{% load static %}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
<header>
<div class="topnav">
<a class="active" href="/">Home</a> |
{% if user.is_authenticated %}
<div> You are signed in as {{user.username}}...
    <form action="{% url 'sign_out' %}" method="post">
        {% csrf_token %}
        <button type="submit">Sign Out</button>
    </form>
    
{% else %}
<a href="{% url 'sign_in' %}">Sign in</a> |
<a href="{% url 'users:sign_up' %}">Sign up</a>
{% endif %}
</div>
</header>
<main>
{% block content %}{% endblock %}
</main>
</body>
</html>